html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
textarea {
  height: 250px !important;
  resize: none;
  border: 2px solid #9b4dca !important;
  padding: 5px;
}
.margin {
  margin-top: 4rem !important;
}
#para {
  width: 50%;
}
